* {
    margin: 0;
    padding: 0;
}

.cover_photo {
    background-image: url(./food3.png);
    background-size: cover;
    height: 600px;
}

header {
    display: flex;
    justify-content: center;
    padding: 10px;
    position: sticky;
    top: 0px;
    background: rgba(245, 246, 245, 0.432);
    height: 50px;


}

.logo {
    font-size: 40px;
    margin-right: 90px;
    padding-top: 10px;
    margin-top: 0 auto;
}

.image {
    width: 100px;
    height: 70px;
    border-radius: 10px;
    padding: 10px;
    margin-left: 40px;
    margin-top: -4px;
}

nav {
    display: flex;
    align-items: center;

}

li {
    list-style: none;

}

a {
    text-decoration: none;
    color: rgb(16, 15, 16);
    font-size: 30px;

}

.main_manu {
    display: flex;
}

li {
    margin: 20px;
}

li>a {
    font-size: 20px;
    font-weight: bold;


}

.list {
    position: relative;
    font-family: roboto;
    font-style: italic;

}

.list-line {
    position: absolute;
    top: 40px;
    width: 250px;
    background: rgba(41, 45, 41, 0.605);
    display: none;
    margin-left: 150px;
}

.list:hover .list-line {
    display: block;
}

.first {
    position: relative;
    font-family: roboto;
    font-style: italic;
    /* padding: 5px; */
}

.manu {
    margin-top: 20px;
}

.font {
    height: 10px;
    width: 10px;
    border-radius: 50%px;
    border-color: #fbf9f9;
}


.second {
    position: absolute;
    top: 40px;
    width: 250px;
    background: rgba(144, 172, 148, 0.605);
    display: none;
}

.first:hover .second {
    display: block;
}

li:hover a {
    color: #fff;
}

.fast {
    position: relative;
    font-family: roboto;
    font-style: italic;

}

.item {
    font-size: 18px;
    border-bottom: 2px solid #f7f3f3;
    margin-top: 20px;
    text-align: left;
    margin-top: 15px;
    padding: 10px;
    color: #000;

}

.last {
    position: absolute;
    top: 50px;
    width: 350px;
    background: rgba(130, 135, 130, 0.904);
    display: none;
    margin-right: 20px;
    right: -20px;
    height: 300px;
    text-align: center;


}

.textline {
    font-size: 15px;
    margin-left: 5px;
    margin-top: -10px;
    color: #000;
}

.line_text {
    font-size: 15px;
    margin-left: -60px;
    margin-top: -30px;
    color: #000;
}

.text_line {
    font-size: 15px;
    margin-top: -30px;
    margin-left: -15px;
    color: #000;
}

.fast:hover .last {
    display: block;
}

.section-ber {
    display: flex;
    margin-top: 25px;
    border-bottom: 2px solid rgb(248, 247, 247);

}

.section-ber img {
    height: 60px;
    width: 80px;
    margin-left: 10px;
    padding: 5px;

}

.last-line {
    margin-left: 100px;
    color: #000;
}

.last-ber {
    margin-left: 150px;
    color: #000;
}

.manu {
    display: flex;
}


.span_ber {
    display: flex;
    margin-top: 10px;
}

.span_ber h1 {
    font-size: 20px;
    margin-left: 20px;
    margin-top: 5px;
    color: #000;
}

.btn-ber {
    height: 30px;
    background: #6b736f;
    margin-top: -2px;
    /* border-radius: 4px; */
    font-size: 10px;
    color: hsl(120, 12%, 97%);
    letter-spacing: 1px;
    font-weight: 600;
    margin-left: 170px;
    margin-right: 10px;
    border: none;
    padding: 5px;
}

.text {
    font-size: 120px;
    text-align: center;
    justify-content: center;
    margin-top: 0 auto;
    padding-top: 400px;
    color: rgba(158, 237, 12, 0.674);
}



.text {
    font-size: 100px;
    text-align: center;
    justify-content: center;
    margin-top: -90px;

    color: rgb(251, 249, 249);
}

.text2 {
    font-size: 30px;
    margin-left: 450px;
    color: #fbfbfd;
}

.sailder {
    display: flex;
}

.second_page {
    height: 600px;
}

.your-class {
    width: 1300px;
}

.your-class img {
    height: 400px;
    width: 800px;
    margin: 0 auto;

    margin-top: 50px;
}

.row {
    border-bottom: 2px solid black;
    width: 200px;
    height: 40px;
    border: 1px solid rgb(56, 150, 87);
    margin-top: 80px;
    /* padding-top: 30px; */
    margin: 0 auto;
    margin-top: 30px;
    margin-left: -200px;


}


.row h1 {
    font-size: 20px;
    margin-left: 10px;
    margin-top: 10px;
}

.button_icon {
    margin-top: -250px;
    margin-left: 200px;
    height: 40px;
    width: 40px;

}

.slick-dots li button:before {
    font-family: 'slick';
    font-size: 20px;
    line-height: 20px;
    position: absolute;
    top: -40px;
    left: 350px;
    width: 20px;
    height: 20px;
    content: '•';

    opacity: .25;
    color: rgb(251, 250, 250);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.Header-title {
    font-size: 30px;
    margin-left: -220px;
    margin-top: 100px;

}

.icon_ber {
    display: flex;
    margin-top: 10px;
    margin-left: -210px;
    gap: 10px;
    font-size: 20px;
    font-family: roboto;
    font-style: italic;
}

.slick-prev::before,
.slick-next::before {
    color: rgb(246, 253, 248);
    font-size: 2.5rem;
}


.slick-prev,
.slick-next {
    width: 2.5rem;
    height: 2.5rem;
    z-index: 2;

}

.third_page {
    display: flex;
}

.third_page h1 {
    margin-left: 250px;
    font-size: 40px;
    margin-top: -130px;
}

.third_page p {
    font-size: 20px;
    margin-left: 250px;
    width: 820px;
}

.hr {
    width: 800px;
    margin-left: 250px;
}

.button {
    padding: 10px;
    background: #1f1f1f;
    border: 2px solid #ffffff;

    font-size: 16px;
    color: #9bcb8a;
    letter-spacing: 1px;
    font-weight: 600;
    text-align: center;
    margin-left: 250px;

}

.forth_page {
    height: 700px;
}

.forth_page h1 {
    margin-left: 250px;
    font-size: 40px;
    margin-top: 20px;
}

.forth_page p {
    font-size: 20px;
    margin-left: 250px;
    width: 820px;
}

.hr {
    width: 800px;
    margin-left: 250px;
}

.button {
    padding: 10px;
    background: #1f1f1f;
    border: 2px solid #ffffff;

    font-size: 16px;
    color: #9bcb8a;
    letter-spacing: 1px;
    font-weight: 600;
    text-align: center;
    margin-left: 250px;

}

.five_page {
    height: 700px;
}

.five_page h1 {
    margin-left: 250px;
    font-size: 40px;
    margin-top: 20px;
}

.five_page p {
    font-size: 20px;
    margin-left: 250px;
    width: 820px;
}

.hr {
    width: 800px;
    margin-left: 250px;
}

.button {
    padding: 10px;
    background: #1f1f1f;
    border: 2px solid #ffffff;

    font-size: 16px;
    color: #9bcb8a;
    letter-spacing: 1px;
    font-weight: 600;
    text-align: center;
    margin-left: 250px;

}

.six_page {
    height: 800px;
}

.six_page h1 {
    margin-left: 250px;
    font-size: 40px;
    margin-top: 20px;
}

.six_page p {
    font-size: 20px;
    margin-left: 250px;
    width: 820px;
}

.hr {
    width: 800px;
    margin-left: 250px;
}

.button {
    padding: 10px;
    background: #1f1f1f;
    border: 2px solid #ffffff;

    font-size: 16px;
    color: #9bcb8a;
    letter-spacing: 1px;
    font-weight: 600;
    text-align: center;
    margin-left: 250px;

}

.photo {
    width: 80px;
    height: 70px;
    margin-top: 10px;

}

.lastpage h2 {
    font-size: 18px;
    margin-left: 90px;
    margin-top: -70px;
    color: #000;
}

.last-page img {
    width: 80px;
    height: 70px;
    margin-top: 30px;
}

.photo-page {
    margin-top: -50px;
    margin-left: 20px;

}

.last-page h2 {
    font-size: 18px;
    margin-top: -70px;
    margin-left: 90px;
    color: #070707;
}

.continer {
    font-size: 25px;
    color: #121212;
    margin-left: -5px;
    margin-top: -180px;


}

.lastpages h2 {
    font-size: 18px;
    margin-left: 90px;
    margin-top: -70px;
    color: #121212;
}

.picture img {
    height: 400px;
    width: 800px;
    margin: 0 auto;
    margin-left: 250px;
    margin-top: 50px;
}

.six-page {
    background: #b8a9a9;
    height: 200px;
}

.title3 {
    display: flex;
    margin-left: 150px;

    font-size: 25px;
}

.title3 p {
    font-size: 17px;

    margin-top: 100px;
    margin-left: 20px;
}

.title3 h1 {
    font-size: 50px;
    margin-top: 60px;
}

.row {
    border-bottom: 2px solid black;
    width: 250px;
    height: 40px;
    border: 3px solid rgb(15, 15, 15);
    margin-top: 120px;
    /* padding-top: 30px; */

    margin-left: 10px;
}

.row h1 {
    font-size: 13px;
    margin-left: 10px;

    margin-top: 5px;
}

.btn-ber2 {
    margin-top: -15px;
}

.button_icon {
    padding: 10px;
    background: #fafcfb;
    border: 2px solid #42e87f;
    /* border-radius: 6px; */
    font-size: 20px;
    color: #003f08;
    letter-spacing: 1px;
    font-weight: 600;
    text-align: center;
    margin-left: 270px;
    margin-top: -30px;
    width: 40px;
    height: 45px;
}

.eight_page {
    display: flex;
    background: url(./16.webp);
    background-size: cover;
    gap: 90px;
    height: 500px;

}

.footer-section1 {
    margin-left: 40px;
    margin-top: 150px;
}

.footer-section1 h1 {
    font-size: 30px;
    color: #fff;
}

.footer-section1 p {
    font-size: 17px;
    margin-top: 20px;
    color: #f9f8f8;
}

.photo {
    width: 80px;
    height: 70px;
    margin-top: 10px;

}

.footer-section2 {
    margin-top: 145px;
}

.footer-section2 h1 {
    font-size: 33px;
    color: #fff;
}

.lastpage h2 {
    font-size: 18px;
    margin-left: 90px;
    margin-top: -70px;
    color: #f4f8f5;
}

.last-footer img {
    width: 80px;
    height: 70px;
    margin-top: 30px;
}

.footer-section1 {
    margin-top: 150px;
    /* margin-left: ;
     */
}

.last-footer h2 {
    font-size: 18px;
    margin-top: -70px;
    margin-left: 90px;
    color: #f9f6f6;
}

.footer-section1 h1 {
    font-size: 30px;
    color: #fff;
}

.footer-social-icons {
    margin-top: 150px;
}

.footer-social-icons h1 {
    font-size: 30px;
    color: #fff;
}

.social_info {
    font-size: 35px;
    margin-top: 20px;
    color: #fff;
    border-bottom: 2px solid black;
    border: 6px solid rgba(0, 0, 0, 0.381);
    width: 250px;
    background-color: #7e74749f;

}

.fa-facebook-official {
    margin-left: 10px;
    font-size: 25px;
    margin-top: 10px;
}

.fa-twitter {
    margin-left: 10px;
    font-size: 25px;
}

.fa-instagram {
    margin-left: 10px;
    font-size: 25px;
}

.fa-linkedin-square {
    margin-left: 10px;
    font-size: 25px;
}

.fa-linkedin {
    margin-left: 10px;
    font-size: 25px;
}

.fa-pinterest-p {
    margin-left: 10px;
    font-size: 25px;
}

.footer-copyrights {
    display: flex;
    background-color: #959895a7;
    height: 100px;



}

.fa-long-arrow-right {
    margin-top: 6px;

}

.footer-ber {
    display: flex;
}

.footer-ber i {
    color: #fcf9f9;
}

.footer-ber h3 {
    color: #f2efef;
}


.fa-copyright {

    font-size: 20px;
    color: #0a0a0a;
    margin-left: 540px;
    margin-top: 40px;
}


.footer-copyrights h1 {
    font-size: 20px;
    color: #0b0b0b;
    text-align: center;
    margin-left: 5px;
    margin-top: 40px;
}

.contact_info {
    font-size: 25px;
    top: 10px;
    color: #fff;
}

.social_info i {
    gap: 20px;
    color: #fff;
}

.footer-address {
    margin-top: 10px;
    color: #f5f3f3;
}

.footer-number {
    margin-top: 10px;
    color: #fff;
}

.footer-gmail {
    margin-top: 10px;
    color: #fff
}