* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
    padding: 10px;
    position: sticky;
    top: 0px;
    background: rgba(245, 246, 245, 0.432);
    height: 50px;


}

.logo {
    font-size: 40px;
    margin-right: 90px;
    padding-top: 10px;
    margin-top: 0 auto;
}

.image {
    width: 100px;
    height: 70px;
    border-radius: 10px;
    padding: 10px;
    margin-left: 40px;
    margin-top: -4px;
}

nav {
    display: flex;
    align-items: center;

}

li {
    list-style: none;

}

a {
    text-decoration: none;
    color: rgb(182, 19, 182);
    font-size: 30px;

}

.main_manu {
    display: flex;
}

li {
    margin: 20px;
}

li>a {
    font-size: 20px;
    font-weight: mediun;

}

.manu {
    margin-top: 20px;
}

.list {
    position: relative;
    font-family: roboto;
    font-style: italic;

}

.list-line {
    position: absolute;
    top: 40px;
    width: 250px;
    background: rgba(218, 232, 220, 0.605);
    display: none;
    margin-left: 150px;
}

.list:hover .list-line {
    display: block;
}

.first {
    position: relative;
    font-family: roboto;
    font-style: italic;
    /* /padding: 5px; */
}

.second2 {
    position: absolute;
    top: 40px;
    width: 200px;
    background: rgba(235, 240, 235, 0.605);
    display: none;


}

.first:hover .second2 {
    display: block;
}

li:hover a {
    color: #0c0000;
}

.item {
    font-size: 18px;
    border-bottom: 2px solid #f7f3f3;
    margin-top: 20px;
    text-align: left;
    margin-top: 15px;
    padding: 10px;
    color: #000;

}

.last {
    position: absolute;
    top: 50px;
    width: 350px;
    background: rgba(176, 179, 176, 0.904);
    display: none;
    margin-right: 20px;
    right: -20px;
    height: 300px;
    text-align: center;


}

.textline {
    font-size: 15px;
    margin-left: 3px;
    margin-top: -8px;
    color: #000;
}

.line_text {
    font-size: 15px;
    margin-left: -60px;
    margin-top: -30px;
    color: #000;
}

.text_line {
    font-size: 15px;
    margin-top: -30px;
    margin-left: -15px;
    color: #000;
}

.fast:hover .last {
    display: block;
}

.section-ber {
    display: flex;
    margin-top: 25px;
    border-bottom: 2px solid rgb(248, 247, 247);

}

.section-ber img {
    height: 60px;
    width: 80px;
    margin-left: 10px;
    padding: 5px;

}

.last-line {
    margin-left: 100px;
    color: #000;
}

.last-ber {
    margin-left: 150px;
    color: #000;
}

.manu {
    display: flex;
}

.true {
    border-radius: 3px;
    color: #01003f;
    font-size: 20px;
}

/* .manu h1{
    font-size: 16px;
} */
.span_ber {
    display: flex;
    margin-top: 10px;
}

.span_ber h1 {
    font-size: 20px;
    margin-left: 20px;
    margin-top: 5px;
    color: #000;
}

.text {
    font-size: 120px;
    text-align: center;
    justify-content: center;
    margin-top: 0 auto;
    padding-top: 400px;
    color: rgba(158, 237, 12, 0.674);
}

.btn-ber {
    height: 30px;
    background: #0d7e41;
    margin-top: -2px;
    /* border-radius: 4px; */
    font-size: 10px;
    color: hsl(120, 12%, 97%);
    letter-spacing: 1px;
    font-weight: 600;
    margin-left: 170px;
    margin-right: 10px;
    border: none;
    padding: 5px;
}

.cover_photo {
    background-image: url(./coffe.webp);
    background-size: cover;
    height: 600px;
}

.text {
    font-size: 100px;
    text-align: center;
    justify-content: center;
    margin-top: 0 auto;
    padding-top: 200px;
    color: rgb(4, 5, 0);
}

.text2 {
    font-size: 30px;
    margin-left: 450px;
}

.second {

    height: 900px;
    background-color: #fff;

}

.second h1 {
    font-size: 50px;
    text-align: center;
    margin-top: 0 auto;
    padding-top: 30px;
    color: hsl(181, 85%, 45%);
}

.second h3 {
    font-size: 30px;
    text-align: center;
    font-family: roboto;
    font-style: italic;
    color: #0e0f0e;

}

.fifth {
    display: flex;
    justify-content: center;
    font-size: 20px;

}

a {
    text-decoration: none;
    color: rgb(12, 12, 12);
    font-size: 30px;
    text-transform: none;

}

li {
    margin: 20px;
    list-style: none;
}

li>a {
    font-size: 20px;
    font-weight: mediun;


}

.fifth li:hover a {
    border-bottom: 2px solid #0c0004;
}

.number_ber {
    display: flex;
    gap: 30px;
    text-align: left;
    width: 100%;
    margin-left: 200px;
}

.number0 {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    flex-direction: row;

}

.number0 h1 {
    font-size: 25px;
    margin-left: 0;
    /* height: 10px; */
    text-align: left;
    color: #0c0c0c;

}

.number5 {
    font-size: 20px;
    margin-left: 0;
    color: #010900;
}

.num {
    margin-left: 0;
    margin-top: 60px;
    font-size: 25px;
    color: #090c00;
}

.h_border {
    border: none;
    border-bottom: 2px dotted rgb(195, 181, 59);
    margin-left: 0px;
    height: 2px;
    border-width: 2px;
    width: 200px;
    margin-top: 80px;
}

.hr_border2 {

    border: none;
    border-bottom: 2px dotted rgb(195, 181, 59);
    margin-left: 0px;
    height: 2px;
    border-width: 2px;
    width: 200px;
    margin-top: 40px;


}

.num2 {
    margin-left: 0;
    margin-top: 30px;
    font-size: 25px;
    color: #090c00;
}

.hr_border {
    border: none;
    border-bottom: 4px solid #040800;
    margin-left: 700px;
    height: 8px;
    border-width: 4px;
    width: 100px;
    margin-top: 10px;

}

.third {
    background: #96c4f1;
    height: 800px;
}

.third h1 {
    font-size: 50px;
    text-align: center;
    margin-top: 0 auto;
    padding-top: 30px;
    color: hsl(180, 24%, 96%);
}

.third h3 {
    font-size: 30px;
    text-align: center;
    font-family: roboto;
    font-style: italic;
    color: hsl(341, 82%, 52%);

}

.picture {
    display: flex;
    margin-top: 50px;
    text-align: center;
    margin-left: 300px;
    gap: 10px;

}

.picture2 {
    position: relative;
    font-family: roboto;
    font-style: italic;
    padding: 5px;
    height: 200px;
    width: 300px;




}


.pic {
    height: 200px;
    width: 300px;


}



.pic-ber {
    height: 200px;
    width: 300px;
    margin-top: 20px;

}

.pic-ber2 {
    height: 200px;
    width: 300px;
    margin-top: 20px;
}

.box-section {
    position: absolute;
    top: 40px;

    background: rgba(250, 252, 251, 0.421);
    display: none;
    width: 300px;
    height: 200px;
    margin-top: -35px;
}

.picture4 {
    position: relative;
    font-family: roboto;
    font-style: italic;
    padding: 5px;
    height: 200px;
    width: 300px;
}

.section-box2 {
    position: absolute;
    top: 40px;

    background: rgba(250, 252, 251, 0.421);
    display: none;
    width: 300px;
    height: 200px;
    margin-top: -15px;
}

.section-box2 h3 {
    font-size: 25px;
    margin-top: 40px;
}

.section-box2 p {
    font-size: 22px;
}

.picture4:hover .section-box2 {
    display: block;
}

.span-ber {
    font-size: 30px;
}

.box-section h3 {
    font-size: 25px;
    margin-top: 40px;
}

.box-section p {
    font-size: 22px;
}

.picture2:hover .box-section {
    display: block;
}

.pic2 {
    height: 200px;
    width: 300px;
    margin-top: 20px;
}

.forth {

    height: 800px;
    background-color: #fff;

}

.title {
    font-size: 60px;
    text-align: center;
    margin-top: 0 auto;
    padding-top: 30px;
    color: hsl(181, 85%, 45%);
}

.title-ber {
    font-size: 30px;

    font-family: roboto;
    font-style: italic;
    color: #0e0f0e;
    margin-left: 400px;

}



.number50 {
    margin-left: 110px;
    margin-top: -30px;
}

.numberb {
    display: flex;
    text-align: center;
    margin-left: 100px;
    gap: 50px;
    margin-top: 50px;
}

.number55 {
    text-align: left;
    font-size: 20px;
}


.bg_img {
    height: 60px;
    width: 80px;
    margin-top: 30px;
}

.number0 h1 {
    margin-top: 30px;
}

.number0 {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
}

.img {
    display: flex;
    gap: 30px;
}

.fifth-page {
    background-color: aquamarine;
    height: 1200px;
}

.fifth-page h1 {
    font-size: 50px;
    margin-left: 600px;
    margin-top: 0 auto;
    padding-top: 30px;
}

.fifth-page h3 {
    font-size: 30px;
    margin-left: 400px;
}

.layout {
    display: flex;
    margin-top: 160px;

}




.image-ber {
    height: 180px;
    width: 300px;
    margin-left: 0;
    /* padding: 10px; */
    margin-top: -100px;



}

.image-ber2 {
    height: 180px;
    width: 300px;
    margin-left: 0;

}

.lastspan {
    font-size: 30px;
    margin-left: 100px;
    color: hsl(341, 82%, 52%);
}

.layout_2 {

    width: 300px;
    background-color: #fff;
    margin-left: 150px;
    height: 280px;
}

.layout_3 {
    margin-top: 100px;
    width: 300px;
    background-color: #fff;
    margin-left: 5px;
    height: 370px;
}

.layout_2 h3 {
    font-size: 20px;
    margin-top: 10px;
    margin-left: 40px;
}

.layout_2 p {
    font-size: 20px;
    margin-left: 20px;
}



.six-page {
    background: #b8a9a9;
    height: 200px;
}

.title2 {
    display: flex;
    margin-left: 150px;

    font-size: 25px;
}

.title2 p {
    font-size: 17px;

    margin-top: 100px;
    margin-left: 20px;
}

.title2 h1 {
    font-size: 50px;
    margin-top: 60px;
}

.row {
    border-bottom: 2px solid black;
    width: 250px;
    height: 40px;
    border: 3px solid rgb(15, 15, 15);
    margin-top: 120px;
    /* padding-top: 30px; */

    margin-left: 10px;
}

.row h1 {
    font-size: 13px;
    margin-left: 10px;

    margin-top: 5px;
}

.btn-ber2 {
    margin-top: -15px;
}

.button_icon {
    padding: 10px;
    background: #fafcfb;
    border: 2px solid #42e87f;
    /* border-radius: 6px; */
    font-size: 20px;
    color: #003f08;
    letter-spacing: 1px;
    font-weight: 600;
    text-align: center;
    margin-left: 270px;
    margin-top: -30px;
    width: 40px;
    height: 45px;
}

.eight_page {
    display: flex;
    background: url(./images7.jpeg);
    background-size: cover;
    gap: 90px;
    height: 500px;

}


.footer-section1 {
    margin-left: 40px;
    margin-top: 150px;
}

.footer-section1 h1 {
    font-size: 30px;
    color: #fff;
}

.footer-section1 p {
    font-size: 17px;
    margin-top: 20px;
    color: #0a0a0a;
}

.photo {
    width: 80px;
    height: 70px;
    margin-top: 10px;

}

.footer-section2 {
    margin-top: 145px;
}

.footer-section2 h1 {
    font-size: 33px;
    color: #fff;
}

.lastpage h2 {
    font-size: 18px;
    margin-left: 90px;
    margin-top: -70px;
    color: #f4f8f5;
}

.last-footer img {
    width: 80px;
    height: 70px;
    margin-top: 30px;
}

.footer-section1 {
    margin-top: 150px;
    /* margin-left: ;
     */
}

.last-footer h2 {
    font-size: 18px;
    margin-top: -70px;
    margin-left: 90px;
    color: #f9f6f6;
}

.footer-section1 h1 {
    font-size: 30px;
    color: #fff;
}

.footer-social-icons {
    margin-top: 150px;
}

.footer-social-icons h1 {
    font-size: 30px;
    color: #fff;
}

.social_info {
    font-size: 35px;
    margin-top: 20px;
    color: #fff;
    border-bottom: 2px solid black;
    border: 6px solid rgba(0, 0, 0, 0.381);
    width: 250px;
    background-color: #00000033;

}

.fa-facebook-official {
    margin-left: 10px;
    font-size: 25px;
    margin-top: 10px;
}

.fa-twitter {
    margin-left: 10px;
    font-size: 25px;
}

.fa-instagram {
    margin-left: 10px;
    font-size: 25px;
}

.fa-linkedin-square {
    margin-left: 10px;
    font-size: 25px;
}

.fa-linkedin {
    margin-left: 10px;
    font-size: 25px;
}

.fa-pinterest-p {
    margin-left: 10px;
    font-size: 25px;
}

.footer-copyrights {
    display: flex;
    background-color: #959895a7;
    height: 100px;



}

.fa-long-arrow-right {
    margin-top: 6px;

}

.footer-ber {
    display: flex;
}

.footer-ber i {
    color: #fcf9f9;
}

.footer-ber h3 {
    color: #f2efef;
}


.fa-copyright {

    font-size: 20px;
    color: #0f0f0f;
    margin-left: 540px;
    margin-top: 40px;
}


.footer-copyrights h1 {
    font-size: 20px;
    color: #0e0d0d;
    text-align: center;
    margin-left: 5px;
    margin-top: 40px;
}

.contact_info {
    font-size: 25px;
    top: 10px;
    color: #fff;
}

.social_info i {
    gap: 20px;
    color: #fff;
}

.footer-address {
    margin-top: 10px;
    color: #f5f3f3;
}

.footer-number {
    margin-top: 10px;
    color: #fff;
}

.footer-gmail {
    margin-top: 10px;
    color: #fff
}