* {
    margin: 0;
    padding: 0;
}

.cover_photo {
    background-image: url(./Employ-A-Chef-And-Relish-The-Party.jpg);
    background-size: cover;
    height: 600px;
}

header {
    display: flex;
    justify-content: center;
    padding: 10px;
    position: sticky;
    top: 0px;
    background: rgba(245, 246, 245, 0.432);
    height: 50px;


}

.logo {
    font-size: 40px;
    margin-right: 90px;
    padding-top: 10px;
    margin-top: 0 auto;
}

.image {
    width: 100px;
    height: 70px;
    border-radius: 10px;
    padding: 10px;
    margin-left: 40px;
    margin-top: -4px;
}

nav {
    display: flex;
    align-items: center;

}

li {
    list-style: none;

}

a {
    text-decoration: none;
    color: rgb(16, 15, 16);
    font-size: 30px;

}

.main_manu {
    display: flex;
}

li {
    margin: 20px;
}

li>a {
    font-size: 20px;
    font-weight: bold;


}

.list {
    position: relative;
    font-family: roboto;
    font-style: italic;

}

.list-line {
    position: absolute;
    top: 40px;
    width: 250px;
    background: rgba(140, 146, 140, 0.605);
    display: none;
    margin-left: 150px;
}

.list:hover .list-line {
    display: block;
}

.first {
    position: relative;
    font-family: roboto;
    font-style: italic;
    /* padding: 5px; */
}

.manu {
    margin-top: 20px;
}

.font {
    height: 10px;
    width: 10px;
    border-radius: 50%px;
    border-color: #fbf9f9;
}


.second {
    position: absolute;
    top: 40px;
    width: 250px;
    background: rgba(144, 172, 148, 0.605);
    display: none;
}

.first:hover .second {
    display: block;
}

li:hover a {
    color: #fff;
}

.fast {
    position: relative;
    font-family: roboto;
    font-style: italic;

}

.item {
    font-size: 18px;
    border-bottom: 2px solid #f7f3f3;
    margin-top: 20px;
    text-align: left;
    margin-top: 15px;
    padding: 10px;
    color: #000;

}

.last {
    position: absolute;
    top: 50px;
    width: 350px;
    background: rgba(137, 145, 137, 0.904);
    display: none;
    margin-right: 20px;
    right: -20px;
    height: 300px;
    text-align: center;


}

.textline {
    font-size: 15px;
    margin-left: 5px;
    margin-top: -10px;
    color: #000;
}

.line_text {
    font-size: 15px;
    margin-left: -60px;
    margin-top: -30px;
    color: #000;
}

.text_line {
    font-size: 15px;
    margin-top: -30px;
    margin-left: -15px;
    color: #000;
}

.fast:hover .last {
    display: block;
}

.section-ber {
    display: flex;
    margin-top: 25px;
    border-bottom: 2px solid rgb(248, 247, 247);

}

.section-ber img {
    height: 60px;
    width: 80px;
    margin-left: 10px;
    padding: 5px;

}

.last-line {
    margin-left: 100px;
    color: #000;
}

.last-ber {
    margin-left: 150px;
    color: #000;
}

.manu {
    display: flex;
}

.true {


    width: 50%;

    font-size: 20px;
}

/* .manu h1{
    font-size: 16px;
} */
.span_ber {
    display: flex;
    margin-top: 10px;
}

.span_ber h1 {
    font-size: 20px;
    margin-left: 20px;
    margin-top: 5px;
    color: #000;
}

.btn-ber {
    height: 30px;
    background: #6b736f;
    margin-top: -2px;
    /* border-radius: 4px; */
    font-size: 10px;
    color: hsl(120, 12%, 97%);
    letter-spacing: 1px;
    font-weight: 600;
    margin-left: 170px;
    margin-right: 10px;
    border: none;
    padding: 5px;
}

.text {
    font-size: 120px;
    text-align: center;
    justify-content: center;
    margin-top: 0 auto;
    padding-top: 400px;
    color: rgba(158, 237, 12, 0.674);
}

.book {
    height: 30px;
    background: #0d7e41;
    margin-top: -2px;
    /* border-radius: 4px; */
    font-size: 10px;
    color: hsl(120, 12%, 97%);
    letter-spacing: 1px;
    font-weight: 600;
    margin-left: 170px;
    margin-right: 10px;
    border: none;
    padding: 5px;
}


.text {
    font-size: 100px;
    text-align: center;
    justify-content: center;
    margin-top: 0 auto;
    padding-top: 200px;
    color: rgb(7, 7, 7);
}

.text2 {
    font-size: 30px;
    margin-left: 450px;
    color: #0d0d0db4;
}

.nr {
    width: 1100px;
}

.two {
    margin-left: 200px;

    margin-top: 100px;
}

.class {
    display: flex;
    gap: 60px;
}

.div {
    display: flex;
    gap: 30px;

}

.mm h1 {
    font-size: 25px;
}

.mm p {
    font-size: 20px;
    margin-top: 20px;

}

.cc {
    width: 220px;
    height: 220px;
}

.bto {
    padding: 10px 20px;
    background: hsl(140, 43%, 61%);
    border: 2px solid hsl(180, 33%, 98%);
    border-radius: 6px;
    font-size: 12px;
    color: #fbfbfe;
    letter-spacing: 2px;
    font-weight: 600;
    margin-top: 30px;
}

.fa-star {
    color: hsl(56, 94%, 47%);
}

.second_page {
    height: 450px;
}



.font_latter {
    margin-top: 80px;
    margin-left: 200px;
    margin-top: 20px;
    font-size: 30px;
}

.word {
    font-size: 20px;
}



.slick-dots li button:before {
    font-family: 'slick';
    font-size: 15px;
    line-height: 20px;
    position: absolute;
    top: 80px;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: .25;
    color: rgb(14, 14, 14);
    margin-left: -110px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.your-class3 {
    display: flex;

    margin-left: 200px;

    justify-content: center;
    align-items: center;
    text-align: center;

}

.pic {
    width: 300px;
    height: 200px;


}

.fly {
    background: #b8a9a9;
    height: 200px;
}

.rool {
    display: flex;
    margin-left: 150px;

    font-size: 25px;
}

.rool p {
    font-size: 17px;

    margin-top: 100px;
    margin-left: 20px;
}

.rool h1 {
    font-size: 50px;
    margin-top: 60px;
}

.row {
    border-bottom: 2px solid black;
    width: 250px;
    height: 40px;
    border: 3px solid rgb(15, 15, 15);
    margin-top: 120px;
    /* padding-top: 30px; */

    margin-left: 10px;
}

.row h1 {
    font-size: 13px;
    margin-left: 10px;

    margin-top: 5px;
}

.hello {
    margin-top: -15px;
}

.button_icon {
    padding: 10px;
    background: #fafcfb;
    border: 2px solid #42e87f;
    /* border-radius: 6px; */
    font-size: 20px;
    color: #003f08;
    letter-spacing: 1px;
    font-weight: 600;
    text-align: center;
    margin-left: 270px;
    margin-top: -30px;
    width: 40px;
    height: 45px;
}

.eight_page {
    display: flex;
    background: url(./ahdoos-1.jpg.webp);
    background-size: cover;
    gap: 90px;
    height: 500px;

}

.ten {
    margin-left: 40px;
    margin-top: 150px;
}

.ten h1 {
    font-size: 30px;
    color: #121111;
}

.ten p {
    font-size: 15px;
    margin-top: 20px;
    color: #0c0c0c;
}

.photo {
    width: 80px;
    height: 70px;
    margin-top: 10px;

}

.lastpage h2 {
    font-size: 18px;
    margin-left: 90px;
    margin-top: -70px;
    color: #0f0f0f;
}

.finis img {
    width: 80px;
    height: 70px;
    margin-top: 30px;
}

.nine {
    margin-top: 150px;
    /* margin-left: ;
     */
}

.finis h2 {
    font-size: 18px;
    margin-top: -70px;
    margin-left: 90px;
    color: #090909;
}

.nine h1 {
    font-size: 30px;
    color: #020000;
}

.saraboni {
    margin-top: 150px;
}

.saraboni h1 {
    font-size: 30px;
    color: #040404;
}

.social_info {
    font-size: 32px;
    margin-top: 20px;
    color: #fff;
    border-bottom: 2px solid rgba(255, 252, 252, 0.859);
    border: 6px solid rgba(82, 82, 82, 0.788);
    width: 250px;
    background-color: #fff;
}

.fa-facebook-official {
    margin-left: 10px;
    font-size: 25px;
    margin-top: 10px;

}

.fa-twitter {
    margin-left: 10px;
    font-size: 25px;

}

.fa-instagram {
    margin-left: 10px;
    font-size: 25px;
    color: #fff;
}

.fa-linkedin-square {
    margin-left: 10px;
    font-size: 25px;
    color: #fff;
}

.fa-linkedin {
    margin-left: 10px;
    font-size: 25px;
    color: #fff;
}

.fa-pinterest-p {
    margin-left: 10px;
    font-size: 25px;
    color: #fff;
}

.ses {
    display: flex;
    background-color: #99b298a7;
    height: 100px;



}

.fa-long-arrow-right {
    margin-top: 6px;

}

.level {
    display: flex;
}

.level i {
    color: #060606;
}

.level h3 {
    color: #111111;
}

.ses i {
    font-size: 20px;
    color: #0a0a0a;
    margin-left: 500px;
    margin-top: 40px;
}

.ses h1 {
    font-size: 20px;
    color: #0e0e0e;
    text-align: center;
    margin-left: 5px;
    margin-top: 40px;
}

.contact_info {
    font-size: 25px;
    top: 10px;
    color: #0c0c0c;
}

.social_info i {
    gap: 20px;
    color: #131212;
}

.how {
    margin-top: 10px;
    color: #0b0b0b;
}

.what {
    margin-top: 10px;
    color: #020202;
}

.why {
    margin-top: 10px;
    color: #000000;
}